*-debug.log
*-error.log
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.env
.eslintcache
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.yarn-integrity
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
build/Release
coverage
jspm_packages/
lib-cov
logs
node_modules
node_modules/
npm-debug.log*
pids
typings/
yarn-debug.log*
yarn-error.log*

.vscode
.nexus
build
